<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mainboard</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    {{style('bower_components/bootstrap/dist/css/bootstrap.min.css')}} 
    {{style('bower_components/font-awesome/css/font-awesome.min.css')}}
    {{style('bower_components/Ionicons/css/ionicons.min.css')}}
    {{style('bower_components/bootstrap/dist/css/bootstrap.min.css')}}
    {{style('dist/css/AdminLTE.min.css')}}
    {{style('plugins/iCheck/square/blue.css')}}
    {{style('dist/css/skins/_all-skins.min.css')}}
    {{style('bower_components/morris.js/morris.css')}}
    {{style('bower_components/jvectormap/jquery-jvectorrmap.css')}}
    {{style('bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css') }}
    {{style('bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css')}}
    {{style('bower_components/bootstrap-daterangepicker/daterangepicker.css')}}
    {{style('plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css')}}

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <a href="#" class="logo">
                <span class="logo-mini"><b>A</b>LT</span>
                <span class="logo-lg"><b>Budums</b>Sys</span>   
            </a>

            <nav class="navbar navbar-static-top">
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="{{assetsUrl('dist/img/avatar04.png')}}" alt="user image" class="user-image">
                                <span class="hidden-xs">{{auth.user.username}}</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="user-header">
                                    <img src="{{assetsUrl('dist/img/avatar04.png')}}" class="img-circle" alt="user image">
                                    <p>
                                        {{auth.user.username}}
                                        <small>{{auth.user.email}}</small>
                                    </p>
                                </li>
                                <li class="user-footer">    
                                    <div class="pull-right">
                                        <a href="{{route('logoutuser')}}" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                    <div class="pull-left">
                                        <a href="{{route('logoutuser')}}" class="btn btn-default btn-flat">Edit Profile</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="main-sidebar">
            <section class="sidebar">
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">MAIN NAVIGATION</li>
                    <li class="active treeview">
                        <a href="{{route('/')}}">
                            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-files-o"></i>
                            <span>Inventory</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angel-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="{{route('ingredientslist')}}">Ingredients</a></li>
                            <li><a href="#">menu 2</a></li>
                        </ul>
                    </li>
                </ul>
            </section>
        </aside>
        <div class="content-wrapper">
            @!section('content')
        </div>
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> Alpha
            </div>
            <strong>Copyright &copy; 2019 <a href="#">febridev</a></strong> All right reserved
        </footer>
    </div>
{{--  list javascript  --}}
{{script('bower_components/jquery/dist/jquery.min.js')}}
{{script('bower_components/bootstrap/dist/js/bootstrap.min.js')}}
{{script('bower_components/jquery/dist/jquery.min.js')}}
{{script('bower_components/jquery-ui/jquery-ui.min.js')}}
<script>
    $.widget.bridge('uibutton', $.ui.button);
</script>
{{script('bower_components/raphael/raphael.min.js')}}
{{script('bower_components/morris.js/morris.min.js')}}
{{script('bower_components/jquery-sparkline/dist/jquery.spark.min.js')}}
{{script('plugins/jvectormap/jquery-jvectormap-1.2.2.min.js')}}
{{script('plugins/jvectormap/jquery-jvectormap-world-mill-en.js')}}
{{script('bower_components/jquery-knob/dist/jquery.knob.min.js')}}
{{script('bower_components/moment/min/moment.min.js')}}
{{script('bower_components/bootstrap-daterangepicker/daterangepicker.js')}}
{{script('bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js')}}
{{script('plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js')}}
{{script('bower_components/jquery-slimscroll/jquery.slimscroll.min.js')}}
{{script('bower_components/fastclick/lib/fastclick.js')}}
{{ script('bower_components/datatables.net/js/jquery.dataTables.min.js') }}
{{ script('bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js') }}
{{script('dist/js/adminlte.min.js')}}
@!section('script')
{{--  end list javascript  --}}
</body>
</html>